.Card {
    background-color: white;
    border-radius: 5px;
    border: 3px solid #E34863;
    padding: 10px 10px 10px 10px;
    border: 0px 0px 0px 0px;
    width: 20%;
    height: 50vh;
    /* box-shadow: 10px 15px #A9A9A9; */
    position: relative;
    top : 22vh;
    left: 39%;
}

.Card>p {
    color : #E34863;
    font-style: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#si {
    font-size: 2.1em;
    padding-bottom: 0px;

}

#wi {

}